.Nav{
    position: fixed;
    right: 30px;
    top: 40%;
    z-index: 1 !important;
}
.Nav_mokcha{
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}
.Nav_mokcha > div{
    margin-bottom: 20px;
    cursor: pointer;    
}