.Project {
    height: max-content;
    position: relative;
    text-align: left;
    padding-top: 2rem;
}
.Project header{
    padding-left: 4rem;
    overflow: hidden;
    animation: head 2s 1;
    width: 420px;
    text-align: left;
}
.Project header h1{
    font-size: 40px;
}   
.Project_info{
    padding:3rem 4rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.Project_info .Project_Eri , .Project_ReS , .Project_Clo{
    width: 420px;
    min-width: 420px;
    height: 700px;
    padding: 1rem 2rem;
    padding-bottom: 3rem;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 20px;
    margin-right: 50px;
    position: relative;

}
.Project_info .Project_Eriwa{
    width: 1020px;
    height: 700px;
    overflow-y: hidden;
    padding: 1rem 2rem;
    padding-bottom: 3rem;
    border: 1px solid rgb(148, 148, 148);
    background-color: #DCE2F0;
    border-radius: 20px;
    margin-right: 70px;
    position: absolute;
    z-index: 2;
} 

.Project_info .Project_Eri div , .Project_ReS div , .Project_Clo div{
    font-size: 25px;
}
.hugi{
    font-size: 21px !important;
    font-weight: 500;
}
.Eri_Btn{
    width:85%;
    position: absolute;
    bottom:20px;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    line-height: 2rem;
    color: #FCF6F5;
    background-color: #7b9acc;
}
.Eriwa_Btn{
    width:94%;
    position: absolute;
    bottom:20px;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    line-height: 2rem;
    color: #FEFEFE;
    background-color: #D2302C;
}
.Project_list{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.Project_list > div {
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    border: 1px solid rgb(148, 148, 148);
    margin-bottom: 20px;
    border-radius: 20px;
    padding-top: 10px;
}
.Detail_Eriwa{
    font-size: 30px;
}
.Detail_Eriwa .Detail_develop{
    font-size: 25px;
}

.Detail_Eriwa .Detail_git{
    font-size: 23px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
}
.Detail_Eriwa .Detail_git a{
    font-size: 23px;
}
.Detail_Eriwa .Detail_git svg{
    width: 40px !important;
    text-align: center;
}
.Detail_Eriwa h2{
    font-size: 30px;
}
.Detail_description{
    width: max-content;
    font-size: 24px;
    letter-spacing: 1px;
}